@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
  --preto1:#010101;
  --preto2:#424242;
  --preto3:#616161;
  --preto4:#757575;
  --preto5:#d9d9d9;
  --ativo: #ffb23d;
  --branco: #ffffff;
  --inativo: #b98e8e;
}
h1{
  font-size: 3rem;
  font-weight: 700;
}
h2{
  font-size: 2rem;
  font-weight: 600;
}
h3{
  font-size: 1.8rem;
  font-weight: 800;
}
h4{
  font-size: 1.4rem;
  font-weight: 600;
}
h5{
  font-size: 1.2rem;
  font-weight: 400;
}
h6{
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--preto5);
}
button{
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background: var(--preto1);
  cursor: pointer;
  color: var(--preto5);
  padding: 13px 20px;
  text-transform: uppercase;
  transition: 0.3s ease;
}
button:hover{
  background: var(--branco);
}

p{
  font-size: 1rem;
  line-height: 1.5;
  color: var(--preto1);
}
a{
  color: var(--preto1);
  text-decoration: none;
}
.section-p1{
  padding: 40px 80px;
}
.section-m1{
  margin: 40px 0;
}

.logo{
  width: 65px;
  max-width:65px;
  margin: 0 auto;
}
.logo img{
  width: 100%;
}
.navbar{
  font-size: 16px;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.star{
  padding: 10px 0;
}
.star i{
  font-size: 0.8rem;
  color: goldenrod;
}
.navbar .navbar-nav .nav-link{
  padding: 0 20px;
  color: var(--preto1);
  transition: all 0.3s ease;
}
.navbar i:hover,
.navbar i.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
  color: var(--ativo);
}
.navbar i{
  font-size: 1.2rem;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.4s ease;
  color: var(--preto1);
}

#bar{
  font-size: 1.5rem;

  cursor: pointer;
  padding: 7px;
  transition: 0.4s ease;
  color: var(--preto1);
}
#bar.active,
#bar:hover{
  color: #fff;
}
/* Mobile bar*/
.navbar-light .navbar-toggler{
  border: none;
  outline: none;
}

/* adptação de tela */
@media only screen and (max-width: 991px){
  body > header > nav > button:focus,
  body > header > nav > button:hover{
    background: var(--ativo);
  }

  body > header > nav > button:focus #bar,
  body > header > nav > button:hover #bar{
    background: var(--ativo);
  }
  #collapsibleNavId > ul {
   
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
  #collapsibleNavId > ul > li:nth-child(n) > a {
    padding: 10px;
  }
}

#home span{
  color: var(--ativo);
}
#home{
  background: url("../img/backgrounds/bg.png") no-repeat  center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top 60px center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
/* novos itens*/
#new .one img{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#new .one .details{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
#new .one:hover .details{
 cursor: pointer;
  background: rgba(0,0,0,0.5);
}
#new .one .details button{
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background:none;
  color: var(--preto2);
  border-bottom: 1px solid var(--preto2);
  padding: 5px 10px;
  transition: 0.3s ease;
  transform: translateY(70px);
}
#new .one .details button:hover{
  color: var(--branco);
  border-bottom: 1px solid var(--branco);
}
/* produtos */
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.product img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
 
}
.product:hover {
  opacity: 0.8;
}
.product .buy-now{
  background: var(--ativo);
  transform: translateY(20px);
  opacity: 0;
  transition: 0.4s ease;
}
.product:hover .buy-now{
  opacity: 1;
  transform: translateY(0);
  color: var(--branco);
}

/* card do desconto*/

#banner{
  background: url("../img/banner/2.jpg") no-repeat  center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top 70px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#banner h4, h1{
  color: var(--branco);
  font-weight: 400;
}
#banner span{
  color: goldenrod;
  font-weight: 500;
}

/*rodapé*/

footer{
  background-color: var(--preto1);
}
footer h3{
  color: var(--branco);
  font-weight: 500;
  font-size: 1.2rem;
}
footer p{
  color: var(--branco);
  font-weight: 300;
  font-size: 1rem;
}
footer li{
  padding-bottom: 4px;
}
footer li a{
  font-size: 0.8rem;
  color: var(--branco);
}
footer li a:hover{
  color: var(--ativo);
}
footer .copyright a{
  color:var(--preto1);
  width: 38px;
  height: 38px;
  background-color: var(--branco);
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
  margin-bottom: 30px;
}
footer .copyright a:hover{
  background-color: var(--ativo);
  color: var(--branco);
}