.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer; 
}
.small-img{
    width: 100%;
}
.dproduct select{
    display: block;
    padding: 5px 10px;
}
.dproduct input{
    width: 50px;
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    margin-right: 10px;
}
.dproduct input:focus{
    outline: none;
}
.buy-btn{
    height: 40px;
    background-color: #ff5a5f;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    transition: 0.3 all;
}